/*tbody, table, thead {
  display: block;
}
table tbody {
  overflow: auto;
  height: 300px;
}
thead {
  width: 100% !important;
}
th {
  width: 500px;
  text-align: left;
  padding-left: 60px;
  font-size: 10px;
}
td {
  width: 550px;
  font-size: 10px;
}*/
td {
  font-size: 12px;
}
th {
  font-size: 12.5px;
}
