<button type="button" class="btn btn-primary" (click)="obtenerRelacionesExistentes(); obtenerRelacionesRequierenIR(); obtenerRelacionesDeberianExistir()">Identificar</button>
<div style="padding-top: 30px" class="container-fluid">
  <div class="row table-responsive">
    <div class="col table-responsive">
      <app-tabla [cabeceras]="cabecerasRE" [datos]="datosRE"></app-tabla>
    </div>
  </div>
  <div style="padding-top: 30px" class="row table-responsive">
    <div class="col table-responsive">
      <app-tabla [cabeceras]="cabecerasIR" [datos]="datosIR"></app-tabla>
    </div>
  </div>
  <div style="padding-top: 30px" class="row table-responsive">
    <div class="col table-responsive">
      <app-tabla [cabeceras]="cabecerasDE" [datos]="datosDE"></app-tabla>
    </div>
  </div>
</div>


