<div class="row justify-content-center">
  <div class="col-sm-8">
    <div class="input-group">
      <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
        <option selected>Elija una opción</option>
        <option value="1">Anomalías de relaciones</option>
        <option value="2">Anomalías en la definición de IR</option>
        <option value="3">Anomalías de datos</option>
        <option value="4">Todos</option>
      </select>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Generar</button>
      </div>
    </div>
  </div>
</div>
